$asset-path: "..";
// $full-path: "/user/themes/bubbleandsqueak/dist/assets";

$transition-time: 0.3s;

// colours

$primary-colour-dark-1: #5a3512;

$primary-colour-light-1: #ba7839;

$primary-colour-light-2: #c28750;

$primary-colour-light-3: #ca9665;

$primary-colour-light-4: #d1a57c;

$primary-colour-light-5: #d9b491;

$secondary-colour-dark-1: #2b4682;

$secondary-colour-light-1: #758dc6;

$secondary-colour-light-2: #9caed6;